# Terraform caching files
terraform/openstack/.terraform
# Terraform temporary state files
terraform/openstack/*.tfstate*
# Terraform temporary state files backup
terraform/openstack/*.tfstate.backup
# Terraforms variables
terraform/openstack/*.tfvars
