auto vxlan0
iface vxlan0 inet static
    pre-up ip link add vxlan0 type vxlan id 200 dev {{ primary_nic }} dstport 0 || true
{% for node in ansible_play_batch %}
{% if hostvars[node].ansible_default_ipv4.address != ansible_default_ipv4.address %}
    pre-up bridge fdb append to 00:00:00:00:00:00 dst {{ hostvars[node].ansible_default_ipv4.address }} dev vxlan0
{% endif %}
{% endfor %}
    up ip link set vxlan0 up || true
    down ip link set vxlan0 down
    post-down ip link del vxlan0
    address {{ deploy_network | ipaddr(ansible_default_ipv4.address.split('.')[-1]) | ipaddr('address') }}
    netmask {{ deploy_network.split('/')[-1] }}
