# {{ ansible_managed }}

{% if cloud_platform == 'azure' %}
# Azure
azure_admin_username                  = "{{ default_username }}"
azure_dns_resource_group              = "{{ azure_dns_resource_group }}"
azure_tags                            = {{ azure_tags }}
azurerm_resource_group_location       = "{{ azurerm_resource_group_location }}"
azurerm_subnet_address_prefix         = "{{ azurerm_subnet_address_prefix }}"
azurerm_virtual_machine_vm_size       = "{{ azurerm_virtual_machine_vm_size }}"
azurerm_virtual_network_address_space = {{ azurerm_virtual_network_address_space }}
{% endif %}

{% if cloud_platform == 'openstack' %}
# OpenStack
openstack_auth_url                                 = "{{ openstack_auth_url }}"
openstack_availability_zone                        = "{{ openstack_availability_zone }}"
openstack_compute_instance_flavor_name             = "{{ openstack_compute_instance_flavor_name }}"
openstack_compute_instance_image_name              = "{{ openstack_compute_instance_image_name }}"
openstack_compute_instance_kvm01_image_name        = "{{ openstack_compute_instance_kvm01_image_name }}"
openstack_networking_floatingip                    = "{{ openstack_networking_floatingip }}"
openstack_networking_network_external_network_name = "{{ openstack_networking_network_external_network_name }}"
openstack_networking_subnet_cidr                   = "{{ openstack_networking_subnet_cidr }}"
openstack_networking_subnet_dns_nameservers        = {{ openstack_networking_subnet_dns_nameservers }}
openstack_compute_keypair_public_key               = "{{ ssh_public_key }}"
openstack_password                                 = "{{ openstack_password }}"
openstack_tenant_name                              = "{{ openstack_tenant_name }}"
openstack_user_name                                = "{{ openstack_user_name }}"
{% endif %}

# Common
domain            = "{{ domain }}"
environment_count = {{ environment_count }}
prefix            = "{{ prefix }}"
ssh_public_key    = "{{ ssh_public_key }}"
username          = "{{ default_username }}"
vm_count          = {{ vm_count }}
